/*
  Name:Julian Burnley
  Course and Section:CIS233DA # 12988
  Instructor Name:Brian Thurber
*/ 

/*  color scheme info */
:root {
  --light-left-body-background-color: #cce6ff;
  --background-card-xlight-color:   #e2edf1;
  --medium-dark-code-color: #86592d;
  --left-border-link-color: #86c5ff;
  --left-column-background-text-shadow-color: #10222c;
  --span-code-medium-color:#149014;
}

/* fonts*/
@font-face {
  font-family: 'Roboto Slab';
  src: url('RobotoSlab-VariableFont_wght.ttf') format('truetype');
  
  font-variation-settings: normal;
}
/* Resets sizing method and removes browser defaults for all elements */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* body*/

body {
  background-color: var(--light-left-body-background-color);
  color: var(--left-column-background-text-shadow-color);
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  row-gap: 1em;
  font-family: 'Roboto Slab', serif, 'Courier Prime', monospace;
  overflow: hidden;

}
.left-column {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-between;
height: 100%;
flex-shrink: 0;
flex-grow: 0;
border-left:  var(--left-border-link-color);
border-width: thick;
border-style: solid;
flex-basis: 250px;
 background-color: var(--left-column-background-text-shadow-color);
 color: var(--light-left-body-background-color);
 border-right: thick var(--left-border-link-color);
 box-shadow: 0 8px 6px -6px var(--left-column-background-text-shadow-color);
 padding: 6em;
}

.l
h1, h2, h3 {
 font-size: 1.3rem; 
 padding-top: 6em;
}

nav{
  display: flex;
  flex-direction: column;
  font-size: 1em;;
  
}

li {
  list-style: none;
}

nav a {
 
  color: var(--medium-dark-code-color);
  
}

a:hover {
  padding-top: .25em;
 background-color: var(--medium-dark-code-color);
 color: var(--left-column-background-text-shadow-color);
  text-decoration: none;
}

footer {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--left-border-link-color);

}

main {
  height: 100%;
  width: 100%;
  padding-right: 1em;
  overflow: auto;

}

h2 {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 14em;
}
h3 {
  padding-left: 14em;
}

.property-group .term-group {
  display: flex;
  flex-direction: row;
  border-top:  thin solid var(--left-border-link-color);
  padding: 1em;
border-left: thin solid var(--left-border-link-color);
  background-color: var(--background-card-xlight-color);
  box-shadow: 10px 0 20px -5px var(--left-column-background-text-shadow-color);

}


.container {
  display: flex;
  flex-direction: row;
  row-gap: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

}


dt {
  border-right: thin solid var(--left-border-link-color);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10em;
  font-weight: bolder;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 18em;
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  color: var(--medium-dark-code-color);

}

dd {
  display: flex;
flex-direction: column;
padding-left: 30em;
font-family: 'Open Sans', 'Courier New', Courier, monospace;
color: var(--medium-dark-code-color);
}

span {
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  color: var(--span-code-medium-color);
}

/* <!------Making a change to see if I can trigger a commit-->*/